.page-content > * {
    margin-bottom: 10px;
}

.page-content > *:first-child {
    margin-bottom: 30px;
}

.page-content .tool-container .tool-container--left > * {
    margin-right: 5px;
}

.page-pagination {
    display: flex;
    justify-content: center;
}

