@import 'normalize.css';
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap);

:root {
    --primary-color: #004e7a;
    --dark-color: #323b47;
    --light-color: #e5f0f7;
    --border-radius: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}

h6 {
    font-size: 12px;
}

h5 {
    font-size: 14px;
}

h4 {
    font-size: 16px;
}

h3 {
    font-size: 18px;
}

h2 {
    font-size: 26px;
}

h1 {
    font-size: 34px;
}

p {
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.row {
    display: flex;
    flex-direction: column;
}

.btn:hover {
    opacity: 0.8;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    display: block;
}
