.layout-wraper {
    width: 100%;
    display: flex;
}

.layout-wraper .layout-sidebar {
    width: 20%;
}

.layout-wraper .layout-content {
    width: 80%;
    background-color: var(--light-color);
}

.container {
    padding: 30px;
}
